.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.nav-link {
  list-style: none;
}
.articles-images {
  border-radius: 10px;
  max-width: 300px;
  min-width: 200px;
  height: auto;
}
.article-list {
  display: inline-flex;
  flex-wrap: wrap;
}
.article-card {
  max-width: 50%;
  padding: 10px 10px;
}
.full-article {
  display: inline-flex;
  flex-wrap: wrap;
  max-width: 50%;
  padding: 10px 10px;
}
.full-article h3 {
  text-align: center;
}
.full-article-image {
  border-radius: 10px;
  max-width: 300px;
  min-width: 200px;
  height: auto;
  margin: auto;
}
.article-card h3 {
  text-wrap: wrap;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
